<% if (success && success.length) { %>
  <div 
    class="alert alert-success alert-dismissible fade show shadow rounded-3 mx-auto my-3 px-4 py-3"
    role="alert"
    style="max-width: 600px;"
  >
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div 
    class="alert alert-danger alert-dismissible fade show shadow rounded-3 mx-auto my-3 px-4 py-3"
    role="alert"
    style="max-width: 600px;"
  >
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
